<header>
  <nav>
    <div class='logo'>
      {% assign image_files = site.static_files | where: "image", true %}
      <a href='/'>
        <img src={{ image_files.first.path }}>
      </a>
    </div>
    <div class='menu'>
      <a class='active' href='#'>Illustrations</a>
      <a href='#'>Crochet</a>
      <a href='#'>About</a>
      <a href='https://www.instagram.com/yorbamonster' target='_blank'>Instagram</a>
      <a href='https://www.etsy.com/shop/yorbashideout' target='_blank'>Shop</a>
    </div>
  </nav>
</header>