<div class='sidebar'>
  <a href='/' class='logo'></a>
  <div class="menu">
    <div class="menu-flex">
      <a class="menu-item" href="/">Home</a>
      <a class="menu-item" href="/portraits">Portraits</a>
      <!-- <a class="menu-item" href="#">Fauna</a>
      <a class="menu-item" href="#">Illustrations</a> -->
      <div class="menu-item divider"></div>
      <!-- <a class="menu-item" href="#">CV</a> -->
      <a class="menu-item" href="/contact">Contact</a>
    </div>
    
    <div class="menu-flex-bottom">
      <div class="icons">
        <a href="https://www.instagram.com/yorbamonster/" target="_blank">
          <img src="/assets/images/i_instagram.svg" alt="instagram icon" />
        </a>
      </div>
      <div class="copyright">
        Copyright © 2021<br>
        Natalia Anisimova
      </div>
    </div>
  </div>
</div>