<div class="header">
  <a href="/" class="logo"></a>
  <div id="js-menu-button" class="menu-button"></div>
</div>

<div id="js-sidebar" class="sidebar">
  <a href="/" class="logo"></a>
  <div class="menu">
    <div class="menu-flex">
      <a class="menu-item" href="/">Works</a>
      <!-- <a class="menu-item" href="/portraits">Portraits</a> -->
      <!-- <a class="menu-item" href="/fauna">Fauna</a> -->
      <!-- <a class="menu-item" href="#">Illustrations</a> -->
      <a class="menu-item" href="/contact">Contact</a>
      <div class="menu-item divider"></div>
      <!-- <a class="menu-item" href="/download">CV</a>
      <a class="menu-item" href="/linked">LinkedIn</a> -->
      <a class="menu-item" href="https://www.instagram.com/anisimova.me" target="_blank">Instagram</a>
    </div>
    
    <div class="menu-flex-bottom">
      <div class="icons">
        <!-- <a href="https://www.instagram.com/anisimova.me" target="_blank"> -->
          <!-- <img src="/assets/images/i_instagram.svg" alt="instagram icon" /> -->
        <!-- </a> -->
      </div>
      <div class="copyright">
        Copyright © 2022<br>
        Natalia Anisimova
      </div>
    </div>
  </div>
</div>