<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    {{ content }}

    {%- include footer.html -%}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", function(user) {
        if (!user) {
          window.netlifyIdentity.on("login", function() {
            document.location.href = "/admin/";
          });
        }
      });
    }

    var lazyLoadInstance = new LazyLoad({
      elements_selector: ".lazy"
    });
  </script>
  </body>

</html>
