---
layout: default
---

<div class='grid'>
  {%- if site.posts.size > 0 -%}
    <div class="grid-sizer"></div>
    {%- for post in site.categories.illustrations -%}
      {% assign sizes = post.image_size | split: "x"  %}
      {% assign padding_bottom = sizes[1] | times: 100.0 | divided_by: sizes[0] %}
      <!-- <a class='' href='{{ post.url | relative_url }}'></a> -->
      <div class='grid-item' data-carousel-index='{{forloop.index}}'>
        <div class="wrapper" style="width: 100%; padding-bottom: {{padding_bottom}}%;">
          <div class="inner">
            <img class='lazy' data-src='{{post.image}}'>
          </div>
        </div>
      </div>
    {%- endfor -%}
  {%- endif -%}
</div>

{%- if site.posts.size > 0 -%}
  <div class="carousel">
    {%- for post in site.categories.illustrations -%}
      <div class="carousel-cell">
        <img class="carousel-cell-image" data-flickity-lazyload="{{post.image}}">
      </div>
    {%- endfor -%}
  </div>
{%- endif -%}

